body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}


.container {
    text-align: center;
}
.container h1{
    padding-bottom: 30px;
}
.controllers {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
button {
    padding: 7px 20px;
    cursor: pointer;
}